/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta:wght@600&display=swap');
:root {

  --main-bg-color : #151010;
  --secondary-bg-color : #FFFF;
  --third-color : #999999;
  --button-color: #0055FF;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 2px 8px, #e1e1e1 0px 4p x8px;
  --font-title : 'Mukta', sans-serif;
  --font-text :'Josefin Sans', sans-serif;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.desktop {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  font-family: var(--font-text);
  color: var(--secondary-bg-color);
  overflow-x: hidden;
  line-height: 1.6;
}

h1, h2 {
  font-family: var(--font-title);
  overflow: hidden;
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

article {
  padding:  2rem;
}

.no_button {
  background-color: transparent;
  border: none;
}

video {
  height: 80vh;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border: none;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 0.75rem;
  font-weight: bold;
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

.padding0 {
  padding: 0;
}

.relative {
  position: relative;
}
/********************************************************************* NAV *********************************************************************/ 

.openBurger {
  z-index: 3;
  height: 100%;
  padding: 0 0 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: open 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes open {
  0% {
    transform: scale(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

.openBurger button {
  width: 100%;
  font-size: 2rem;
  padding: 2rem 1rem;
  box-shadow: var(--box-shadow);
  border: none;
}

button.croix {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin-left: 0.5rem;
  box-shadow: none;
}

.croix img {
  height: 3rem;
}

.padding-header {
  padding: 1rem 2rem 0.5rem 1rem;
}

.burger {
  width: 2rem;
}

.logo {
  width:  3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}
/********************************************************************* HOME *********************************************************************/ 
.main_container {
  padding: 1rem 3rem;
}

.main_h1 {
  position: absolute;
  background-color: transparent;
  color: var(--secondary-bg-color);
  z-index: 2;
  text-align: center;
  width: 100%;
  top:50%
}

.main_h1 h1 {
  font-size: 3rem;
}

.main_h1 h2 {
  font-size: 0.85rem;
}

.main_h1 * {
  background-color: transparent;
}


.veil {
  background-color: var(--main-bg-color);
  position: absolute;
  height: 85vh;
  width: 100%;
  opacity: 40%;
  z-index: 1;
}
.main_video {
  margin-left: -5rem;
  height: 85vh;
}

.a_propos {
  background-color: var(--secondary-bg-color);
color:var(--main-bg-color);
padding: 3rem 2rem;
}
.a_propos * {
padding: 0.75rem 0;
background-color: inherit;
color:inherit;
}

.a_propos h3 {
  font-size: 1.5rem;
}

.trait {
  border-bottom: var(--third-color) solid 1px;
  width: 25vw;
  margin-bottom: 2rem;

}

.veil2 {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index: 1;
  opacity: 50%;
}
.button_home {
  position: absolute;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  background-color: #DCA344;
  color: var(--main-bg-color);
}

.reseaux {
  padding: 2rem;
  text-align: center;
}
.reseaux a {

  margin:2rem  1rem;

}
.reseaux img {
  width: 3rem;
}
/********************************************************************* Coupe *********************************************************************/ 
.h1 {
  margin: 2rem 0;
}
.coupe_img {
  width: 100vw;
}
/********************************************************************* Tarifs *********************************************************************/ 

.tarifs_container {
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarif {
  width: 100%;
  padding: 2.5rem 0;
}

.orange {
  background-color: #DCA344;
  margin: 2rem 0;
}
/********************************************************************* CONTACT *********************************************************************/ 

.telephone {
  width: 100%;
 color: var(--button-color);
}

.iframe {
  margin: 2rem 0;
  width: 100vw;
  height: 50vh;
}
.horaires_container {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.reservation {
  text-align: center;
  padding: 3rem 0;
}
.trouver {
  text-align: center;
  padding: 3rem 0;
}
.color {
  background-color: var(--secondary-bg-color);
  color :var(--main-bg-color);
}

.color * {
  background-color: inherit;
  color: inherit;
}
/********************************************************************* FOOTER *********************************************************************/ 

.footer {
  padding: 1rem 4rem;
  text-align: center;
}

.footer .grimoire {
  padding: 0.25rem;
  color: #0055FF;
  background-color: transparent;
}

.footer * {
  margin: 0.35rem 0;
  background-color: inherit;
  color: inherit;
  overflow-y: hidden;
}

.footer li, .footer a, .footer div {
  padding: 0.15rem 0;
}
.footer-section {
  width: 100%;
}

.footer img {
  width: 3rem;
  margin: 0 0.25rem;
}

.mentions {
  text-align: center;
  width: 100%;
  margin: 2rem 1rem 0;
}

/********************************************************************* MENTIONS *********************************************************************/ 
.mentions-container {
  padding: 1rem 4rem;
}

.mentions-container > * {
  padding: 1rem 0;
}

.mentions-container h2 {
  margin-top: 2rem;
}

/******************************************************************************************************************************************/ 
/********************************************************************* DESKTIOP *********************************************************************/ 
/******************************************************************************************************************************************/ 


@media screen and (min-width: 768px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }


/********************************************************************* NAVBAR *********************************************************************/ 
.navbar {
  padding: 2rem 0;

}

.navbar * {
  padding: 0rem 2rem;
  color: var(--secondary-bg-color);
}
 /********************************************************************* HOME *********************************************************************/ 
.main_container {
  padding: 1rem 3rem;
}

.desktop_landing {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 85vh;
  overflow-y: hidden;
}

video.main_video

.main_h1 {
  position: relative;
  background-color: transparent;
  color: var(--secondary-bg-color);
  z-index: 2;
  text-align: center;
  width: 100%;
  top:50%;
  padding: 4rem 
}

.main_h1 h1 {
  font-size: 3rem;
}
.main_h1 span {
  font-family: var(--font-title);
}

.main_h1 h2 {
  font-size: 1rem;
}


.veil {
  background-color: var(--main-bg-color);
  position: absolute;
  height: 85vh;
  width: 100%;
  opacity: 40%;
  z-index: 1;
}
video.main_video {
  margin: 0rem;
  padding: 0;
  width: 100vw;
  height: auto;
}

.a_propos_container {
  display: flex;
  align-items: center;
  background-color: var(--secondary-bg-color);
  padding: 1rem 6;
}

.logo_container {
  width: 200rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
.desktop_logo_home {
  width:25vw;
  clip-path: circle();
}
.a_propos {
  background-color: var(--secondary-bg-color);
color:var(--main-bg-color);
padding: 3rem 15rem 3rem 3rem;
}
.a_propos * {
padding: 0.75rem 0;
background-color: inherit;
color:inherit;
}

.a_propos h3 {
  font-size: 1.9rem;
}

.trait {
  border-bottom: var(--third-color) solid 1px;
  width: 15vw;
  margin-bottom: 2rem;

}

.veil2 {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index: 1;
  opacity: 50%;
}

.desktop_images_container{
  display: flex;
}

.homeData_container{
width: 35%;
}
.button_home {
  position: absolute;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  background-color: #DCA344;
  color: var(--main-bg-color);
}

.reseaux {
  padding: 2rem;
  text-align: center;
}
.reseaux a {

  margin:2rem  1rem;

}
.reseaux img {
  width: 3rem;
}
/********************************************************************* Coupe *********************************************************************/ 
.h1 {
  margin: 2rem 0;
}

.coupes_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.coupe_img {
  width: 30vw;
  margin: 1rem;
  border-radius: 0.5rem;
} 

/********************************************************************* Tarifs *********************************************************************/ 

.tarifs_container {
  padding: 4rem 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarif {
  width: 100%;
  padding: 2.5rem 0;
}

}